{% extends 'base.html' %}
{% include 'components/navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">

{% block title %}My Room{% endblock %}
{% block content %}

<div id="my-room-container">
    <div id="right-section">
        {% if compatible_users %}
        <div class="cards-container">
            {% for profile, score in compatible_users %} <!-- Unpacking profile and score -->
            <div class="card shadow-sm bg-body rounded card-style" data-bs-toggle="modal"
                data-bs-target="#profile-modal-{{profile.id}}" style="max-width: 540px;">
                <div class="row g-0" style="padding: 0 16px">
                    <div class="col-md-4"
                        style="display:flex; flex-direction: column; justify-content:center; align-items:center; text-align: center; padding: 18px;">
                        <img class="rounded-circle" alt="80x80" src="{{profile.profile_photo.url}}" width=150 height=150
                            class="img-fluid rounded-start" alt="{{profile.name}}">
                        <h5 class="card-title">{{ profile.name }}</h5>
                        <p class="card-text"><b>Compatibility: </b>{{ score }}%</p> <!-- Displaying compatibility score -->
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text"><b>Gender:</b>{{ profile.gender }}</p>
                            <p class="card-text"><b>Diet: </b>{{ profile.diet }}</p>
                            <p class="card-text"><b>Hometown: </b>{{ profile.hometown }}</p>
                            <p class="card-text"><b>Country: </b>{{ profile.country.name }}</p>
                            <p class="card-text"><b>Degree: </b> {{ profile.degree }}</p>
                            <p class="card-text"><b>Course: </b> {{ profile.course }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="profile-modal-{{profile.id}}" tabindex="-1"
                aria-labelledby="profile-modal-{{profile.id}}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="display: flex; align-items: center;">
                            <img class="rounded-circle" alt="80x80" src="{{profile.profile_photo.url}}"
                                class="img-fluid rounded-start" alt="{{profile.name}}" width="200" height="200">
                            <h5 class="modal-title">{{ profile.name }}</h5>
                            <button type="button" class="btn-close" style="align-self: flex-start;"
                                data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div>
                                <b>Email: </b>{{ profile.user.email }}<br>
                            </div>
                            <div>
                                <b>Bio: </b>{{ profile.bio }}<br>
                            </div>
                            <div>
                                <b>Gender: </b>{{ profile.gender }}<br>
                            </div>
                            <div>
                                <b>DOB: </b>{{ profile.birth_date }}<br>
                            </div>
                            <div>
                                <b>Diet: </b>{{ profile.diet }}<br>
                            </div>
                            <div>
                                <b>Hometown: </b>{{ profile.hometown }}<br>
                            </div>
                            <div>
                                <b>Country: </b>{{ profile.country.name }}<br>
                            </div>
                            <div>
                                <b>Degree: </b>{{ profile.degree }}<br>
                            </div>
                            <div>
                                <b>Course: </b>{{ profile.course }}<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <h4>No compatible profiles found.</h4>
        {% endif %}
    </div>
</div>

<style>
    #my-room-container {
        padding: 16px;
    }

    #right-section {
        width: 100%;
        margin-left: 16px;
        overflow-y: scroll;
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }

    .card-style {
        margin: 8px;
        border: 1px solid #cc0000;
    }

    .card:hover {
        transform: rotate(0.002turn);
        cursor: pointer;
        background-color: #cc0000;
        color: white;
    }
</style>

{% endblock %}
