<footer class="bg-blue-900 text-white py-2">
    <div class="max-w-screen-xl mx-auto text-center">
        <h5 class="text-lg mb-3">Connect with Us</h5>
        <div class="flex justify-center flex-wrap gap-4 mb-2">
            <a href="https://www.facebook.com/PackFinder" 
               class="text-white transition duration-300 ease-in-out transform hover:text-red-300 hover:scale-125">
                <i class="fab fa-facebook-f fa-lg"></i>
            </a>
            <a href="https://twitter.com/PackFinder" 
               class="text-white transition duration-300 ease-in-out transform hover:text-red-300 hover:scale-125">
                <i class="fab fa-twitter fa-lg"></i>
            </a>
            <a href="https://www.instagram.com/PackFinder" 
               class="text-white transition duration-300 ease-in-out transform hover:text-red-300 hover:scale-125">
                <i class="fab fa-instagram fa-lg"></i>
            </a>
            <a href="https://www.linkedin.com/company/PackFinder" 
               class="text-white transition duration-300 ease-in-out transform hover:text-red-300 hover:scale-125">
                <i class="fab fa-linkedin-in fa-lg"></i>
            </a>
        </div>
        <h6 class="text-sm mt-4">© 2024 PackFinder. All rights reserved.</h6>
    </div>
</footer>
